version: '3.8'
services:
  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - db_volume:/app/db

  frontend:
    image: maksimkim005/calendar-front:latest
    ports:
      - "8090:80"
    environment:
      - API_BASE=/api/v1
    depends_on:
      - backend

volumes:
  db_volume: