name: Docker Image CI

on:
  push:
    branches: [ "backend" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and Push the Docker image
      run: 
        docker build . --tag helix350/calendar-back:latest
        docker push helix350/calendar-back:latest
      
